.. _act-${data.id}:

#set($x = "x")
#foreach( $nestList in $actList)
    #if($foreach.count == 1)
.. _actionlist-${data.id}:

================================================================
#if(${arg1})${arg1}#endアクションリスト
================================================================

.. contents:: 目次
   :depth: 2
   :local:

    #end

----

${nestList.type}
======================================================
    #foreach( $row in ${nestList.acts})

        #if($foreach.count != 1)
----
        #end

.. _act-${row.actId}:

${row.actName} (${row.actType})
---------------------------------------------------
        #if(${row.format})
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${row.format.contains('lite')})◯#else${x}#end", "#if(${row.format.contains('std')})◯#else${x}#end", "#if(${row.format.contains('pro')})◯#else${x}#end", "#if(${row.format.contains('mast')})◯#else${x}#end"

        #end

        #if(${row.frame})
**フレーム:**  

${rstFn.cnv(${row.frame})}


        #end

        #if(${row.actTime})
**トリガー:** ${row.actTrigger}

**スピード:** ${row.actSpeed}

**タイミング:** ${row.actTime}

        #end
        #if(${row.actKey.trim()})
**キーカード条件:** ${row.actKey}

        #end
        #if(${row.actUnit.trim()})
**キーユニット条件:** ${row.actUnit}

        #end
        #if(${row.actCost})
**コスト:** ${row.actCost}

        #end
        #if(${row.actNote.trim()})
**特記事項:** ${row.actNote}

        #end
        #if(${row.actActCond})
**起動条件:**  

${row.actActCond}

        #end
        #if(${row.actTriggerCond})
**誘発条件:**  

${row.actTriggerCond}

        #end
        #if(${row.actTarget})
**対象:**  

${rstFn.cnv(${row.actTarget})}

        #end
**効果:**  

${rstFn.cnv(${row.actEffect})}

        #if(${row.story})
**ストーリー:**  

${row.story}

        #end
        #if(${row.flavor})
**フレーバー:**  

*${row.flavor}*
            #if(${row.flavorSpeaker})

~ ${row.flavorSpeaker} ~
            #end
        #end


        #if(${row.since})
**導入バージョン:**  ${row.since}
        #end


        #if(${row.update})
**更新バージョン:**  ${row.update}
        #end

    #end
#end

#foreach( $nestList in $charList)
    #if($foreach.count == 1)
.. _characterlist-${data.id}:

================================================================
#if(${arg1})${arg1}#endキャラクターリスト
================================================================

.. contents:: 目次
   :depth: 2
   :local:

    #end

----

${nestList.type}
======================================================
    #foreach( $char in ${nestList.chars})

        #if($foreach.count != 1)
----
        #end

.. _char-${char.charId}:

${char.charName} (${char.charType})
---------------------------------------------------
        #if(${char.format})
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${char.format.contains('lite')})◯#else${x}#end", "#if(${char.format.contains('std')})◯#else${x}#end", "#if(${char.format.contains('pro')})◯#else${x}#end", "#if(${char.format.contains('mast')})◯#else${x}#end"

        #end

        #if(${char.frame})
**フレーム:**  

${rstFn.cnv(${char.frame})}


        #end

        #if(${char.charKey.trim()})
**ユニット条件:** ${char.charKey}

        #end
        #if(${char.charSize})
**サイズ:** ${char.charSize}

        #end
        #if(${char.charLabel})
**ラベル:** ${char.charLabel}

        #end
        #if(${char.charAbility})
**能力:**  

${rstFn.cnv(${char.charAbility})}


        #end
        #if(${char.story})
**ストーリー:**  

${char.story}

        #end
        #if(${char.flavor})
**フレーバー:**  

*${char.flavor}*
            #if(${char.flavorSpeaker})

~ ${char.flavorSpeaker} ~
            #end
        #end


        #if(${char.since})
**導入バージョン:**  ${char.since}
        #end


        #if(${char.update})
**更新バージョン:**  ${char.update}
        #end

    #end
#end


#foreach( $nestList in $fogList)
    #if($foreach.count == 1)
.. _foglist-${data.id}:

================================================================
#if(${arg1})${arg1}#endフォグリスト
================================================================

.. contents:: 目次
   :depth: 2
   :local:

    #end

----

${nestList.type}
======================================================
    #foreach( $fog in ${nestList.fogs})

        #if($foreach.count != 1)
----
        #end

.. _fog-${fog.fogId}:

${fog.fogName} (${fog.fogType})
---------------------------------------------------
        #if(${fog.format})
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${fog.format.contains('lite')})◯#else${x}#end", "#if(${fog.format.contains('std')})◯#else${x}#end", "#if(${fog.format.contains('pro')})◯#else${x}#end", "#if(${fog.format.contains('mast')})◯#else${x}#end"

        #end

        #if(${fog.frame})
**フレーム:**  

${rstFn.cnv(${fog.frame})}


        #end

        #if(${fog.fogKey.trim()})
**ユニット条件:** ${fog.fogKey}

        #end
        #if(${fog.fogAbility})
**能力:**  

${rstFn.cnv(${fog.fogAbility})}


        #end
        #if(${fog.story})
**ストーリー:**  

${fog.story}

        #end
        #if(${fog.flavor})
**フレーバー:**  

*${fog.flavor}*
            #if(${fog.flavorSpeaker})

~ ${fog.flavorSpeaker} ~
            #end
        #end


        #if(${fog.since})
**導入バージョン:**  ${fog.since}
        #end


        #if(${fog.update})
**更新バージョン:**  ${fog.story}
        #end

    #end
#end

#foreach( $nestList in $trumpList)
    #if($foreach.count == 1)
.. _trumplist-${data.id}:

================================================================
#if(${arg1})${arg1}#end切札リスト
================================================================

$trumpData.description

.. contents:: 目次
   :depth: 2
   :local:

    #end

----

${nestList.type}
======================================================
    #foreach( $trump in ${nestList.trumps})

        #if($foreach.count != 1)
----
        #end

.. _trump-${trump.trumpId}:

${trump.trumpName} (${trump.trumpType})
---------------------------------------------------
        #if(${trump.format})
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${trump.format.contains('lite')})◯#else${x}#end", "#if(${trump.format.contains('std')})◯#else${x}#end", "#if(${trump.format.contains('pro')})◯#else${x}#end", "#if(${trump.format.contains('mast')})◯#else${x}#end"

        #end

        #if(${trump.frame})
**フレーム:**  

${rstFn.cnv(${trump.frame})}


        #end

        #if(${trump.trumpKey.trim()})
**ユニット条件:** ${trump.trumpKey}

        #end
        #if(${trump.trumpLabel})
**ラベル:** ${trump.trumpLabel}

        #end
        #if(${trump.trumpAbility})
**能力:**  

${rstFn.cnv(${trump.trumpAbility})}


        #end
        #if(${trump.image})
**イメージ:**  
${trump.trumpName}のイメージ (:numref:`frame-${trump.trumpId}-image`)

.. _frame-${trump.trumpId}-image:
.. figure:: ../frame/images/${trump.image}.*
   :height: 200px
   
   ${trump.trumpName}のイメージ

        #end
        #if(${trump.story})
**ストーリー:**  

${trump.story}

        #end
        #if(${trump.flavor})
**フレーバー:**  

*${trump.flavor}*
            #if(${trump.flavorSpeaker})

~ ${trump.flavorSpeaker} ~
            #end
        #end


        #if(${trump.since})
**導入バージョン:**  ${trump.since}
        #end


        #if(${trump.update})
**更新バージョン:**  ${trump.update}
        #end

    #end
#end