================================
BlackPoker アクションリスト
================================

本ドキュメントでは、BlackPokerのすべてのアクションについて記載します。

.. contents:: 目次
   :depth: 2
   :local:

#set($x = "x")
#foreach( $nestList in $actList)

${nestList.type}
======================================================
    #foreach( $row in ${nestList.acts})

.. _act-${row.actId}:

${row.actName} (${row.actType})
---------------------------------------------------
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${row.format.contains('lite')})◯#else${x}#end", "#if(${row.format.contains('std')})◯#else${x}#end", "#if(${row.format.contains('pro')})◯#else${x}#end", "#if(${row.format.contains('mast')})◯#else${x}#end"

        #if(${row.actTime})
**トリガー:** ${row.actTrigger}

**スピード:** ${row.actSpeed}

**タイミング:** ${row.actTime}

        #end
        #if(${row.actCost})
**コスト:** ${row.actCost}

        #end
        #if(${row.actKey.trim()})
**キーカード:** ${row.actKey}

        #end
        #if(${row.actNote.trim()})
**特記事項:** ${row.actNote}

        #end
        #if(${row.actActCond})
**起動条件:**  

${row.actActCond}

        #end
        #if(${row.actTriggerCond})
**誘発条件:**  

${row.actTriggerCond}

        #end
        #if(${row.actTarget})
**対象:**  

${rstFn.cnv(${row.actTarget})}

        #end
**効果:**  

${rstFn.cnv(${row.actEffect})}

        #if(${row.story})
**ストーリー:**  

${row.story}

        #end
        #if(${row.flavor})
**フレーバー:**  

*${row.flavor}*
            #if(${row.flavorSpeaker})

~ ${row.flavorSpeaker} ~
            #end
        #end

----

    #end
#end


================================
BlackPoker キャラクターリスト
================================

本ドキュメントでは、BlackPokerのすべてのキャラクターについて記載します。

.. contents:: 目次
   :depth: 2
   :local:

#foreach( $nestList in $charList)

${nestList.type}
======================================================
    #foreach( $char in ${nestList.chars})

.. _char-${char.actId}:

${char.charName} (${char.charType})
---------------------------------------------------
**フォーマット:**

.. csv-table::
   :widths: 1, 1, 1, 1
   :header-rows: 1

   "ライト", "スタンダード", "プロ", "マスター"
   "#if(${char.format.contains('lite')})◯#else${x}#end", "#if(${char.format.contains('std')})◯#else${x}#end", "#if(${char.format.contains('pro')})◯#else${x}#end", "#if(${char.format.contains('mast')})◯#else${x}#end"

        #if(${char.charKey.trim()})
**キーカード:** ${char.charKey}

        #end
        #if(${char.charSize})
**サイズ:** ${char.charSize}

        #end
        #if(${char.charLabel})
**ラベル:** ${char.charLabel}

        #end
        #if(${char.charAbility})
**能力:**  

${rstFn.cnv(${char.charAbility})}


        #end
        #if(${char.story})
**ストーリー:**  

${char.story}

        #end
        #if(${char.flavor})
**フレーバー:**  

*${char.flavor}*
            #if(${char.flavorSpeaker})

~ ${char.flavorSpeaker} ~
            #end
        #end

----

    #end
#end