# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
build/_html
build/html
build/doctrees
build/latex
**/.DS_Store
.DS_Store
node_modules

source/_build
docs/*
out
build

**/auto/*
!**/auto/.gitkeep

*.log